<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        .active {
            margin-left: 10px;
        }

        nav {
            border-bottom: 2px solid black;
        }

        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }

        .d-flex {
            margin: 20px;

        }

        .options {
            margin: 20px;
        }
        .display{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .persongroup{
            /* border: 2px solid black; */
            padding: 10px;
            height: 50vh;
            width: 97vw;
            margin: auto;
            margin-top: 40px;
            text-align: center;
            display: flex;
            flex-direction: row;
            
        }
        .person{
            border: 2px solid black;
            height: 50vh;
            width: 25vw;
            margin: auto;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Hostel LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/hmate">Hostel Buddy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/map">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/events">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/achievement">Achievements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/gallery">Gallery</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0" style="margin-right: 40px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/complaint">Complaint</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/logout">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <form class="d-flex" role="search" action="/search" method="post">
            <select class="form-select" name="Searchoption" aria-label="Default select example">
                <option value="0">All</option>
                <option value="1">Search by Name</option>
                <option value="2">Search by Year</option>
                <option value="3">Search by degree</option>
                <option value="4">Search by Floor</option>
            </select>
            <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <div class="display">
        <%k.forEach(function(persongroup){%>
            <div class="persongroup">
                    <%persongroup.forEach(function(person){%>
                        <div class="person">
                            <li>Name:<%=person.Name%></li>
                        </div>
                    <%})%>
            </div>
        <%})%>

    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

</html>