<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        .container {
            display: flex;
            flex-direction: column;
        }

        .para1 {
            padding: 20px;
        }

        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            scroll-behavior: smooth;
        }

        .container-right {
            text-align: center;
            color: rgb(30, 8, 107);
            width: 65vw;
            height: 100vh;
            background-color: white;
            border-right: 2px solid black;
            /* padding: 20px; */
        }

        .container-left {
            width: 30vw;
            /* height: 100vh; */
            background-color: rgb(30, 8, 107);
            color: white;
            position: absolute;
            right: 0px;
            /* padding-top: 20vw; */
            text-align: center;
        }

        .form {
            display: flex;
            flex-direction: column;
            margin: 10px;
            padding: 10px;

        }

        .mb-3 {
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
        }

        .btn {
            padding: 10px;
            width: 100px;
            border-radius: 10px;
            display: block;
            margin: auto;
        }

        img {
            padding: 50px;
            width: 30vw;
        }
    </style>


</head>

<body>
    <div class="container">
        <div class="container-right">
            <p class="para1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut atque repudiandae explicabo
                enim deleniti
                excepturi obcaecati voluptate ut nam rem blanditiis, sed odio esse et molestiae temporibus maiores quia
                cumque ipsa nostrum exercitationem repellendus laboriosam aliquid reiciendis. Eos dicta quisquam quia
                doloremque molestias, similique, aliquam ullam consequatur suscipit corporis placeat.
            </p>
            <img src="/image/intro.png" alt="Hostel Picture" srcset="">
            <p class="para1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut atque repudiandae explicabo
                enim deleniti
                excepturi obcaecati voluptate ut nam rem blanditiis, sed odio esse et molestiae temporibus maiores quia
                cumque ipsa nostrum exercitationem repellendus laboriosam aliquid reiciendis. Eos dicta quisquam quia
                doloremque molestias, similique, aliquam ullam consequatur suscipit corporis placeat.
            </p>
        </div>
        <div class="container-left">
            <h1 style="margin-top: 10px;"> Sign up form </h1>
            <% if(typeof errors !='undefined' ){ %>
                <% errors.forEach(function(error) { %>
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <%= error.msg %>
                    </div>
                    <% }); %>
                        <% } %>
                            <form class='form' action="/signin" method="POST">
                                <div class="mb-3">
                                    <label for="emailid" class="form-label">College Email id</label>
                                    <input type="email" class="form-control" id="emailid" name="emailid">
                                </div>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Student Name</label>
                                    <input type="text" class="form-control" id="name" name="name">
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                                <div class="mb-3">
                                    <label for="eventname" class="form-label">Contact Number</label>
                                    <input type="number" class="form-control" id="connum" name="connum">
                                </div>
                                <div class="mb-3">
                                    <label for="eventname" class="form-label">Roll No.</label>
                                    <input type="number" class="form-control" id="rollno" name="rollno">
                                </div>
                                <div class="mb-3">
                                    <label for="eventname" class="form-label">Degree</label>
                                    <select class="form-select" id="degree" name="degree">
                                        <option selected value="B.tech">B.tech</option>
                                        <option value="M.tech">M.tech</option>
                                        <option value="PHD">PHD</option>
                                        <!-- <option value="4">M</option> -->
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="eventdate" class="form-label">Year</label>
                                    <select class="form-select" id="year" name="year">
                                        <option value="1st Year">1st Year</option>
                                        <option selected value="2nd Year">2nd Year</option>
                                        <option value="3rd Year">3rd Year</option>
                                        <option value="4th Year">4th Year</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="eventtime" class="form-label">Residence Floor</label>
                                    <select class="form-select" id="floor" name="floor">
                                        <option value="Ground Floor">Ground Floor</option>
                                        <option selected value="1st Floor">1st Floor</option>
                                        <option value="2nd Floor">2nd Floor</option>
                                        <option value="3rd Floor">3rd Floor</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="studes" class="form-label">About Yourself</label>
                                    <textarea name="stutdes" id="studes" class="form-control" cols="40"
                                        style="border-radius: 10px;" rows="10"></textarea>
                                </div>
                                <button type="submit" id="useradd" class="btn btn-success">Submit</button>
                            </form>
                            <li style="color: white; margin: 10px;"><a href="/" , style="color: white;">Already
                                    have a
                                    Acoount</a></li>
        </div>

    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

</html>