<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="slider.css">
</head>

<body>
    <div id="slider">
        <ul id="slideWrap">
            <li><img src="img1.jpg" alt="1"></li>
            <li><img src="img2.jpg" alt="2"></li>
            <li><img src="img3.jpg" alt="3"></li>
            <li><img src="img4.jpg" alt="4"></li>
            <li><img src="img5.jpg" alt="5"></li>
        </ul>
        <a id="prev" href="#">&#8810;</a>
        <a id="next" href="#">&#8811;</a>
    </div>
</body>
<script src="slider.js"></script>

</html>